<div class="bs-example">
    <table class="table table-striped">
        <thead>
        	 <tr>
                <td colspan="{{colspan + 1}}">
                    <select ng-model="columnName" ng-change="change()">
                        <option ng-repeat="(key, value) in students[0]" ng-bind="key" value="{{key}}"></option>
                    </select>
                    <input type="text" ng-model="keyWord" ng-change="change()"/>
                </td>
            </tr>
            <tr>
                <th dk-repeat="" ng-repeat="(key, value) in students[0]" ng-bind="dictionary[key][lang]"></td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="student in students| filter: search | limitTo : pagerows : (pageindex - 1) * pagerows" style="background-color: {{student['projectname'].indexOf('网') > -1 ? 'red' : ''}}" ng-click="trClick(student, $index, $event)">
                <td ng-repeat="sdt in student" ng-bind="sdt"></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="{{colspan + 1}}">
                    <span ng-repeat="p in [] | range: pagecount" ng-bind="p" class="{{p == pageindex ? 'active' : ''}}" ng-click="page(p)" ng-show="show"></span>
                </td>
            </tr>
           
        </tfoot>
    </table>
</div>