<div class="bs-example list-group" id="list-group"  ng-controller="resetpasswordController">
	<span class="list-group-item"><span>oldPassword</span><input type="password" ng-model='opwd' /></span>
	<span class="list-group-item"><span>newPassword</span><input type="password" ng-model='newPassword' /></span>
	<span class="list-group-item"><span>retryPassword</span><input type="password" ng-model='retryPassword' /></span>
	<span class="list-group-item"><span>resetpassword</span><input type="submit"  value="change"  ng-click="resetpassword()"/></span>
</div>
	
<script type="text/javascript">
	app.register.controller('resetpasswordController', ['$scope', '$http', function ($scope, $http) {
		$scope.resetpassword=function(){
				if($scope.newPassword==$scope.retryPassword){
					  $http.post("RESETPASSWORD.PHP",{account:$scope.account,pwd:$scope.retryPassword,oldPassword:$scope.opwd}).success(function(response){
								if(response.state==true){
									$.alert(response.message);
								}else{
									$.alert(response.message);
								}
				 			});
				 }else{
					   $.alert("Passwords are not consistent two times");
				  }
		 
		}
	}])
</script>